
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: black;
}

html {
    width: 100%;
}

body {
    width: 100%;
    background-color: #6fccba;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}


/* Telefonos */
[class*="col-"] {
    width: 100%;
}


/* Header*/


.header {
    margin: 0;
    padding: 3%;
    background-color: #ffbb59;
}

#menu-icon {
    display: block;
}

.logo {
    padding: 0 30%;
    margin: 0;
}

.header h1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
}
.menu-header{
    padding: 2.5%;
}

.menu-header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;  
    display: flex;
}

.menu-header li{
    align-items: center;
    font-size: 12px;
    text-align: center;
    padding: 2% 0% 2% 0%;
    margin: 0 2%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color: white;
}


/* Menu izquierdo */
#menu {
    padding: 2%;
    display: none;
}
#menu h2{
    font-size: 30px;
    padding: 0 0 2% 2%;
}

#menu li{
    text-align: center;
    padding: 2%;
    background-color: white;
    margin: 0 10% 2% 10%;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

/* Contenido central Main */

/* iniciar sesion */

#iniciarSesion {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas: ". ttle ttle ."
                        ". lb-email lb-email ."
                        ". tx-email tx-email ."
                        ". lb-pass lb-pass ."
                        ". tx-pass tx-pass ."
                        ". bt-reg bt-ini ."
    ;
    padding: 5%;
    column-gap: 1em;
}
#iniciarSesion h2 {
    grid-area: ttle;
    text-align: center ;
    padding-bottom: 7%;
}

#label-email {
    grid-area: lb-email;
}

#ini-email {
    grid-area: tx-email;
    margin-bottom: 5%;
}

#label-pass {
    grid-area: lb-pass;
}

#ini-password {
    grid-area: tx-pass;
    margin-bottom: 7%;
}

#iniciarBtn {
    grid-area: bt-ini;
}

#registraseBtn {
    grid-area: bt-reg;
}


/* Registrarse */
#registrarse {
    display: none;
}

/* Temario */
#teoria {
    display: none;
}
.temas{
    padding-bottom: 30px;
}

.temaImg{
    width: 100%;

}

.videos {
    width: 100%;
}

.videos iframe{
    width: 100%;
    height: 15rem;
}

.decripTema {
    text-align: justify;
}

.videos h3{
    margin-top: 40px;
    margin-bottom: 15px;
}

/* listado de estudiantes */
#listadoestudiantes {
    display: none;
}

/* Foro */

#foro {
    display: none;
}

/* calificaciones */

#calificaciones {
    display: none;
}

/* news */

.news {
    display: none;
}



/* Footer */
.footer{
    background-color: black;
    color: whitesmoke;
    bottom: 0;
}

.UC3M{
    text-align: center;

}

.UC3M img{
    height: 50px;
}

.UC3M a{
    display: block;
}

.copyright{
    text-align: center;
    

}

.copy{
    font-size: 50px;
    margin: 0px;
    padding: 0;
}
.dueños{
    margin-bottom: 0;
}

.politica{
    text-align: center;
}

.politica a{
    text-decoration: none;
    display: block;
    
}

.politica p{
    color: white;
}

/* ---------------------------------------------------- */
/* Tablets */
@media only screen and (min-width: 600px) {
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


    /* Header */
   
    /* menu izquirdo */
    

    /* main */

    
    
    /* news */


    /* footer */

  }

/* Computadora */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    /* Header */
    
    /* news */

    /* footer */

}


