
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: black;
}


html {
    width: 100%;
}

body {
    width: 100%;
    background-color: #6fccba;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}


/* Telefonos */
[class*="col-"] {
    width: 100%;
}


/* Header*/


.header {
    padding: 10px;
    background-color: #ffbb59;
}

#menu-icon {
    display: none;
    background-color: #ffbb59;
    border: none;
}

#menu-icon:hover{
    cursor: pointer;
}

#menu-icon::after{
    border: none;
}

.logo {
    padding: 0 30%;
}

.header h1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
}
.menu-header{
    padding: 2.5%;
}

.menu-header ul{
    display: flex;
}

.menu-header li{
    align-items: center;
    font-size: 12px;
    text-align: center;
    padding: 2% 0;
    margin: 0 2%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color:  #f2f2f2;
}

.menu-header li:hover {
    cursor: pointer;
}

#menuHCerrar {
    display: none;
}

#nusuario {
    display: none;
    
}

#nusuario span{
    float: left;
    padding: 5px;
}

#nusuario img {
    float: left;
    height: 25px;
    padding: 5px 0 5px 5px;
}



/* main */

#main{
    clear: both;
}

/* Menu izquierdo */
#menu {
    padding: 2%;
    display: none;
}
#menu h2{
    font-size: 30px;
    padding: 0 0 2% 2%;
}

#menu li{
    text-align: center;
    padding: 2%;
    background-color:  #f2f2f2; 
    margin: 0 10% 2% 10%;
    color: black;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

#menu li:hover {
    cursor: pointer;
}


/* Contenido central del Main */

/* iniciar sesion */



#inicio{
    margin: 3%;
    width: 94%;
    padding:  10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color:  #f2f2f2;
    border: 2px solid #ccc;
    text-align: center;
}

#inicio h2{
    padding: 10px;
}

#inicio p{
    padding: 50px;
}

#iniContainer{
    display: none;
}

#iniciarSesion {
   
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-areas: ". ttle ttle ."
                        ". lb-email lb-email ."
                        ". tx-email tx-email ."
                        ". lb-pass lb-pass ."
                        ". tx-pass tx-pass ."
                        ". bt-reg bt-ini ."
    ;
    padding:  15px;
    width: 94%;
    margin: 3%; 
    column-gap: 1em;

    border-radius: 5px;
    box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color:  #f2f2f2;
    border: 2px solid #ccc;
}
#iniciarSesion h2 {
    grid-area: ttle;
    text-align: center ;
    padding-bottom: 7%;
}

#label-email {
    grid-area: lb-email;
    
}

#ini-email {
    grid-area: tx-email;
    margin-bottom: 5%;
}

#label-pass {
    grid-area: lb-pass;
}

#ini-password {
    grid-area: tx-pass;
    margin-bottom: 7%;
}

#iniciarBtn {
    grid-area: bt-ini;
}

#registraseBtn {
    grid-area: bt-reg;
}

#closeSesion{
    text-decoration: none;
}



/* Registrarse */
#registrarse {
    display: none;
}

#registrarse form h2{
    padding: 30px;
}

#registrarse form {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:". registrarseh registrarseh ."
                        ". nusuario nusuario ."
                        ". usuario usuario ."
                        ". nnia nnia ."
                        ". nia nia ."
                        ". ncontraseña ncontraseña ."
                        ". contraseña contraseña ."
                        ". nnombre nnombre ."
                        ". nombre nombre ."
                        ". napellidos napellidos ."
                        ". apellidos apellidos ."
                        ". nemail nemail ."
                        ". email email ."
                        ". nfechanacimiento nfechanacimiento ."
                        ". fnacimiento fnacimiento ."
                        ". nidentificacion nidentificacion ."
                        ". dni dni ."
                        ". nrol nrol ."
                        ". rol rol ."
                        ". ncarrera ncarrera ."
                        ". carrera carrera ."
                        ". nuniversidad nuniversidad ."
                        ". universidad universidad ."
                        ". nidioma nidioma ."
                        ". idioma idioma ."
                        ". nterminosycondiciones nterminosycondiciones ."
                        ". terminosycondiciones terminosycondiciones ."
                        ". sumitBtn borrarBtn ."
                        
                        ;
    column-gap: 1em;
}

#registrarse h2{
    grid-area: registrarseh;
    text-align: center;
}

#nusuario{
    grid-area: nusuario ;
}

#usuario{
    grid-area: usuario;
}

#nnia{
    grid-area: nnia;
}

#nia{
    grid-area: nia;
}

#ncontraseña{
    grid-area: ncontraseña;
}

#reg-password{
    grid-area: contraseña;
}

#nnombre{
    grid-area: nnombre;
}

#nombre{
    grid-area: nombre;
}

#napellidos{
    grid-area: napellidos;
}

#apellidos{
    grid-area: apellidos;
}

#nemail{
    grid-area: nemail;
}

#reg-email{
    grid-area: email;
}

#nfechanacimiento{
    grid-area: nfechanacimiento;
}

#fnacimiento{
    grid-area: fnacimiento;
}


#nidentificacion{
    grid-area: nidentificacion;
}

#dni {
    grid-area: dni;
}

#nrol{
    grid-area: nrol;
}

#rol{
    grid-area: rol;
}

#ncarrera{
    grid-area: ncarrera;
}

#carrera{
    grid-area: carrera;
}

#nuniversidad {
    grid-area: nuniversidad;
}

#universidad {
    grid-area: universidad;
}

#nidioma{
    grid-area: nidioma;
}

#idioma{
    grid-area: idioma;
}

#nterminosycondiciones {
    grid-area: nterminosycondiciones;
}

#terminosycondiciones{
    grid-area: terminosycondiciones;
}

#sumitBtn{
    grid-area: sumitBtn;
}
#borrarBtn{
    grid-area: borrarBtn; 
}

.stylereg{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    background-color:  #f2f2f2;
    border-radius: 4px;
}








/* Temario */
#teoria {
    display: none;
    padding: 4%;
}

#titprincipal{
    margin-bottom: 10px;
}



.temas{
    padding-bottom: 30px;
}

.temaImg{
    width: 100%;
    margin-bottom: 20px;

}

.videos {
    width: 100%;
}

.videos iframe{
    width: 100%;
    height: 15rem;
}

.decripTema {
    text-align: justify;
}

.videos h3{
    margin-top: 20px;
    margin-bottom: 15px;
}

.video-content p{ 
    padding-top: 20px;
}

/* listado de estudiantes */
#listadoestudiantes {
    display: none;
    padding: 10px;
}

#listadoestudiantes h1{
    padding: 3%;
    text-align: center;
}

.alumnos {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "imgs nombreAl sendBtn"
                        "imgs correoAl sendBtn";
    column-gap: 0.6em;
    
    align-items: center;
    
  
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color:  #f2f2f2;
    border: 2px solid #ccc;
    max-height: 120px;

}

.alumnos *{
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:  #f2f2f2;
    padding: 5px;
}

.alumnos img{
    grid-area: imgs;
    max-width: 100%;
    max-height: 80%;
    min-width: 30   px;
    padding: 0;
    
}

.alumnos .nombreAl{
    grid-area: nombreAl;
    font-size: 0.8em;
    align-self: flex-end;
    margin-bottom: 8px;
    
}

.alumnos .correoAl{
    grid-area: correoAl;
    font-size: 0.8em;
    align-self: flex-start;
    margin-top: 8px;
}

.alumnos .sendBtn{
    grid-area: sendBtn;
}

/* Foro */
#foro {
    display: none;
    padding: 20px;
}

#foro1{
    display: inherit;
}

#foro h2 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

.tema {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 7px;
    background-color: white;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.titulo-tema {
    display: flex;
    float: left;
    margin: 0;
    padding: 10px 5px 10px 5px;
}

.cant-msg-icon {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.cant-msg-icon div{
    font-size: 0.85em;
    padding: 5px 0 5px 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fecha-tema {
    padding: 5px;
}

.foroalumnos{
    display: none;
    padding: 10px;
}

.mensajealumno{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "imag infoalumn fyh"
                        "imag alumntext alumntext"
                         "mensajeforo mensajeforo enviarforo";
    column-gap: 0.6em;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    margin: 20px;
    padding: 10px;
    background-color: white;
}

.mensajealumno img{
    grid-area: imag;
    max-width: 100%;
    max-height: 80%;
    min-width: 30   px;
    padding: 0;
}

.mensajealumno .informacionAlumn{
    grid-area: infoalumn;
}

.mensajealumno .fechayhora{
    grid-area: fyh;
}

.mensajealumno .texto{
    grid-area: alumntext;
}

.mensajealumno *{
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:  #f2f2f2;
    padding: 5px;
}

.mensajealforo{
    grid-area: mensajeforo;
}

.submitforo{
    grid-area: enviarforo;
}



/* calificaciones */

#calificaciones {
    display: none;
    padding: 20px;
}

#calificaciones h2 {
    text-align: center;
    padding: 10px;
}

.tabla {
    font-size: 12px;
    padding: 10px;
    box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color:  #fdfdfd;
    border: 2px solid #ccc;
}

.tabla tr, th {
    border: 1px solid #ccc;
    padding: 5px 0;
}

.cabecera th{
    padding: 10px 0;
}

/* news */

.news {
    display: none;
}



/* Footer */
.footer{
    clear: both; 
    background-color: black;
    color: whitesmoke;
}

.UC3M{
    text-align: center;

}

.UC3M img{
    height: 50px;
}

.UC3M a{
    display: block;
}

.copyright{
    text-align: center;
    

}

.copy{
    font-size: 50px;
    margin: 0px;
    padding: 0;
}
.dueños{
    margin-bottom: 0;
}

.politica{
    text-align: center;
}

.politica a{
    text-decoration: none;
    display: block;
    
}

.politica p{
    color: white;
}

/* ---------------------------------------------------- */
/* Tablets */
@media only screen and (min-width: 600px) {
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


    /* Header */
    .header{
     padding: 20px;
     display: flex;
     align-items: center;
    }
   

    .logo {
        text-align: center;
        padding: 0 2.5em;
        max-height: 85px;
        max-width: 235px;
    }

    .header h1 {
        padding: 3 0;
        max-height: 80px;
    }

    .menu-header{
        padding: 5px;
       
    }

    #nusuario img {
        height: 30px
    }



    


   /* main */

    /* menu izquirdo */

    #tablet-news {
        display: none;
    }


    

    
    
    /* news */
    .news {
        display: block;
    }

    #newsIn {
        display: none;
    }

    /* footer */

  }

/* Computadora */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    /* Header */
    #menu-icon   {
        display: none ;
    }

    #nusuario img {
        height: 35px
    }

    /* menu izquiera */
    #menu {
        display: block;
    }

    #menuInterno {
        display: none;
    }
    
    /* news */

    #newsIn {
        display: none;
    }

    /* footer */

}


